@model IQueryable<UniversitySystem.Models.Lecture>
@{
    ViewBag.Title = "Lectures";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lectures</h2>
@if (Model.Count() == 0)
{
    <h3>No lectures!</h3>
}

@if (Model.Count() > 0)
{
    foreach (var lecture in Model)
    {
        <div>
            <h3>@lecture.Title</h3>
            <p>@lecture.Description</p>
            <div>
                @if (lecture.Homework != null)
                {
                    @Ajax.ActionLink("View homework assignment", "ViewHomework", "Homework", new { id = lecture.Homework.Id }, new AjaxOptions
                    {
                        HttpMethod = "Get",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "homework"
                    })
                }
            </div>
            <div id="hw">
                <span id="homework"></span>
                @if (lecture.Homework != null)
                {
                    <div>
                        <a href="/Homework/Submit?lectureId=@lecture.Id" class="btn btn-primary btn-sm">Submit homework</a>
                    </div>
                }
                else
                {
                    <span>No homework</span>
                }
                
            </div>
            <br />
            @if (User.IsInRole("Teacher"))
            {
                <a href="/Lecture/Edit/@lecture.Id" class="btn btn-info btn-sm">Edit</a>
                <a href="/Lecture/Delete/@lecture.Id" class="btn btn-danger btn-sm">Delete</a>
                if (lecture.Homework == null)
                {
                    <a href="/Homework/Create?lectureId=@lecture.Id" class="btn btn-info btn-sm">Add homework</a>
                }
                else
                {
                    <a href="/Homework/Edit/?lectureId=@lecture.Id" class="btn btn-info btn-sm">Edit homework</a>
                    <a href="/Homework/Delete?lectureId=@lecture.Id" class="btn btn-danger btn-sm">Remove homework</a>
                }
            }
        </div>
    }
}