@model IQueryable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manage User Roles</h2>
<form method="post">
    @Html.AntiForgeryToken()
    <input type="text" id="username" name="username" class="form-control" placeholder="Username" pattern="^[^<>/\~;:,]+$" 
           oninvalid="setCustomValidity('You are trying to input forbidden characters')" />
    <br />
    <select name="addRole" class="form-control">
        <option value="true">Add role</option>
        <option value="false">Remove role</option>
    </select>
    <br />
    <select name="role" class="form-control">
        @foreach (var role in Model)
        {
            <option value="@role.Name">@role.Name</option>
        }
    </select>
    <br />
    <input type="submit" value="Change" class="btn btn-warning" />
</form>

@section scripts{
<script src="~/Scripts/jquery-ui.js"></script>
    <script>
        $(function () {
            $('#username').autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: 'users?username=' + $('#username').val(),
                        dataType: 'json',
                        data: {
                            q: request.term
                        },
                        success: function (data) {
                            var users = [];
                            for (var i = 0, len = data.length; i < len; i++) {
                                users[i] = data[i]["Username"];
                            }

                            response(users);
                        }
                    })
                }
            });
        });
    </script>
}