
@{
    ViewBag.Title = "Submit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Submit homework</h2>
<form method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <br />
    <input type="submit" class="btn btn-primary btn-sm" value="Submit homework" />
</form>

